@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
@import url("../css/bootstrap.min.css");
body {
  font-family: "Raleway", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

main {
  width: 80%;
  border: 1px dashed red;
  margin: 0 auto;
}

h1 {
  font-family: "Raleway", arial, sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
}

.page-header {
  background-color: #000;
  min-height: 150px;
}

.page-header__logo {
  background-image: url("../images/logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  margin-top: 35px;
}

.page-header__title {
  color: #fff;
  text-align: center;
  height: 50px;
  margin-top: 50px;
}
