body {
    font-family: $raleway;
    font-weight: 400;
    font-size: 16px;
}
.page-header + * {
    margin-top: 40px;
}

main {
    margin: 0 auto;
}

%headings {
    font-family: $raleway;
    font-weight: 100;
    font-size: 2.5rem;
}
h1 {
    @extend %headings;
}
h2 {
    @extend %headings;
    color: $heading-color;
}
.btn {
    // font-family: $raleway;
}
// Forms
label {
    // font-size: 2rem;
}
select {
    // font-size: 1.5rem;
}