// Fonts
$raleway: 'Raleway', arial, sans-serif;
$ubuntu: 'Ubuntu Mono', monospace;

// Colors
$black: #000;
$white: #fff;
$red: #FF1D25;

$bg-color: $white;
$copy-color: $black;
$highlight-color: $red;

// Dimensions
$header-height: 150px;