// Fonts and text
$raleway: 'Raleway', arial, sans-serif;
$ubuntu: 'Ubuntu Mono', monospace;

$text-lg: 1.5rem;

// Colors
$black: #000;
$white: #fff;
$red: #FF1D25;
$blue: #0275d8;

$bg-color: $white;
$copy-color: $black;
$highlight-color: $red;
$heading-color: $blue;

// Dimensions
$header-height: 150px;
$header-margin: 40px;