.page-header {
    background-color: $copy-color;
    min-height: $header-height;

    &__logo {
        background-image: url('../images/logo.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        @include header-vertical-align(80px); 
    }
    &__title {
        color: $bg-color;
        text-align: center;
        @include header-vertical-align(50px);
    }
}