.page-header {
    background-color: $copy-color;
    min-height: $header-height;
    &__toggle {
        // color: $bg-color;
    }
    &__logo {
        background-image: url('../images/logo.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        @include header-vertical-align(80px);
        a {
            display: block;
            height: 100%;
        }
    }
    &__title {
        color: $bg-color;
        text-align: center;
        @include header-vertical-align(50px);
    }

    // BOOTSTRAP OVERRIDES
    .nav-item:hover {
        background-color: lighten($copy-color, 15%);
    }
    .navbar-dark .navbar-nav .nav-link {
        color: $white;
        &:hover {
            color: $white;
        }
    }
}
