.time-selector {

    &__title {
        text-align: center;
        margin-bottom: 40px;
        
    }
    &__label {
        font-size: 1.5rem;
        font-weight: 100;
    }
    &__hours {
        max-width: 60px;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.5rem;
    }
    &__btn {
        font-size: 2rem;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
}

